* {
    margin: 0;
    padding: 0;
}


.Head_wyy {
    height: 70px;
    z-index: 1000;
    box-sizing: border-box;
    background: #242424;
}

.Head_wyy_list {
    width: 1110px;
    min-width: 1100px;
    margin: 0 auto;
    height: 100%;
}

.logo {
    width: 151px;
    background: url(../img/topbar.png) no-repeat;
}

.Head_wyy_list_s {
    float: left;
    padding: 0 17px;
    list-style: none;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: #787878;
}

.Label_color {
    color: #cccccc;
    display: inline-block;
    /*跟随父元素的高度*/
    height: inherit;
    position:relative;
}


.add_color:hover {
    background: #000000;
}

.Label_color:hover {
    color: #ffffff;
}

a {
    color: #cccccc;
    text-decoration: none;
    line-height: 70px;
    display: inline-block;
    /*跟随父元素的高度*/
    height: inherit;
}


.zzzx {
    border: 1px solid #969696;
    float: left;
    list-style: none;
    width: 60px;
    height: 33px;
    line-height: 33px;
    padding: 0 19px;
    margin-top: 19px;
    border-radius: 15px;
    font-size: 12px;
}

.zzzx:hover {
    border: 1px solid white;
}

.hot {
    display: block;
    top: 21px;
    left: 100px;
    width: 36px;
    height: 19px;
    background: url(../img/topbar.png) -190px 0;
}

label {
    display: block;
    position: absolute;
    top: 0;
    left: 90px;
    color: #9b9b9b;
    cursor: text;
    font-size: 12px;
}

.search_table {
    height: 32px;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 19px;
    width: 160px;
}

.search_img {
    height: 25px;
    width: 35px;
    position: absolute;
    background: url(../img/topbar.png) -237px -100px;
}

#ab67b25693ac58e2a7ccf122440a3215 {
    margin-top: 20px;
    line-height: 30px;
    height: 30px;
    margin-left: 5px;
}

.search_input {
    margin-left: 30px;
    width: 120px;
    position: absolute;
    margin-top: 5px;
    border: 0;
    height: 21px;
}

.search {
    display: none;
}

input {
    outline-style: none;
}

.Two_line {
    height: 35px;
    background-color: #C20C0C;
}

.Subscript1 {
    position: absolute;
    top: 64px;
    width: 17px;
    height: 7px;
    margin-left: 20px;
    overflow: hidden;
    background: url(../img/topbar.png) -943px 215px;
    display: none;
}
.Subscript2 {
    position: absolute;
    top: 64px;
    width: 17px;
    height: 7px;
    margin-left: 18px;
    overflow: hidden;
    background: url(../img/topbar.png) -943px 215px;
    display: none;
}
.Subscript3 {
    position: absolute;
    top: 64px;
    width: 17px;
    height: 7px;
    margin-left: 6px;
    overflow: hidden;
    background: url(../img/topbar.png) -943px 215px;
    display: none;
}
